################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Worklinks_Automation/v16
/WL.TestAuto/bin/Debug
/WL.TestAuto/obj/Debug
/packages
