# Just text ignore
/.vs
/WL_Automation/packages/Selenium.WebDriver.ChromeDriver.78.0.3904.7000
BouncyCastle.Crypto.xml
chromedriver.exe
Common.Logging.Core.dll
Common.Logging.Core.pdb
Common.Logging.Core.xml
Common.Logging.dll
Common.Logging.pdb
Common.Logging.xml
debug.log
DnsClient.dll
DnsClient.xml
ExtentReports.dll
itext.barcodes.dll
itext.barcodes.xml
itext.forms.dll
itext.forms.xml
itext.io.dll
itext.io.xml
itext.kernel.dll
itext.kernel.xml
itext.layout.dll
itext.layout.xml
itext.pdfa.dll
itext.pdfa.xml
itext.sign.dll
itext.sign.xml
itext.styledxmlparser.dll
itext.styledxmlparser.xml
itext.svg.dll
itext.svg.xml
Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Microsoft.VisualStudio.TestPlatform.TestFramework.xml
MongoDB.Bson.dll
MongoDB.Bson.xml
MongoDB.Driver.Core.dll
MongoDB.Driver.Core.xml
MongoDB.Driver.dll
MongoDB.Driver.xml
Newtonsoft.Json.dll
Newtonsoft.Json.pdb
Newtonsoft.Json.xml
RazorEngine.dll
RazorEngine.xml
System.Buffers.dll
System.Web.Razor.dll
System.Web.Razor.xml
WebDriver.dll
WebDriver.Support.dll
WebDriver.Support.xml
WebDriver.xml
WL.TestAuto.dll
WL.TestAuto.dll.config
WL.TestAuto.pdb
AutoItX3.Assembly.dll
AutoItX3.Assembly.xml
AutoItX3.dll
AutoItX3_x64.dll
BouncyCastle.Crypto.dll
/WL_Automation/WL.TestAuto/bin/Debug/BouncyCastle.Crypto.dll
/WL_Automation/WL.TestAuto/obj/Debug/WL.TestAuto.dll
/WL_Automation/WL.TestAuto/obj/Debug/WL.TestAuto.pdb
/WL_Automation/WL.TestAuto/obj/Release/WL.TestAuto.csprojAssemblyReference.cache
/WL_Automation/packages/Common.Logging.3.4.1
/WL_Automation/packages/Common.Logging.Core.3.4.1
/WL_Automation/packages/DnsClient.1.0.7
/WL_Automation/packages/ExtentReports.4.0.3
/WL_Automation/packages/itext7.7.1.7
/WL_Automation/packages/Microsoft.AspNet.Razor.3.0.0
/WL_Automation/packages/Microsoft.CSharp.4.0.1
/WL_Automation/packages/MongoDB.Bson.2.7.2
/WL_Automation/packages/MongoDB.Driver.2.7.2
/WL_Automation/packages/MongoDB.Driver.Core.2.7.2
/WL_Automation/packages/MSTest.TestAdapter.1.3.2
/WL_Automation/packages/MSTest.TestFramework.1.3.2
/WL_Automation/packages/Newtonsoft.Json.12.0.1
/WL_Automation/packages/Portable.BouncyCastle.1.8.1.3
/WL_Automation/packages/RazorEngine.3.10.0
/WL_Automation/packages/Selenium.Support.3.141.0
/WL_Automation/packages/Selenium.WebDriver.3.141.0
/WL_Automation/packages/Selenium.WebDriver.ChromeDriver.76.0.3809.12600
/WL_Automation/packages/Selenium.WebDriver.ChromeDriver.80.0.3987.10600
/WL_Automation/packages/System.Buffers.4.3.0
/WL_Automation/packages/System.Runtime.InteropServices.RuntimeInformation.4.0.0
/WL_Automation/packages/AutoItX.Dotnet.3.3.14.5
/WL_Automation/.vs/Worklinks_Automation/v16
/WL_Automation/WL.TestAuto/obj/Debug
/WL_Automation/packages
/WL_Automation/WL.TestAuto/bin/Debug
/packages
/WL.TestAuto/bin/Debug
/WL.TestAuto/obj/Debug
