<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="testautomationioCnn" connectionString="Data Source=COWLQA01;Initial Catalog=testautomationio;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Test Settings-->
    <add key="TestName" value="Payroll Test" />
    <!--<add key="TestName" value="Phase-II Test"/>-->

    <add key="browser" value="chrome" />
    <!--<add key="browser" value="edge" />-->
    <!--<add key="browser" value="firefox" />-->

    <!-- LogIn Info-->
    <!-- <add key="url_old" value="http://qaworklinks/"/> -->
    
    <add key="url" value="https://qaauto.worklinks.ca" />
    <add key="dbReportName" value="qaauto" />

    <!--<add key="url" value="https://qa.worklinks.ca"/>
    <add key="dbReportName" value="QA"/>-->
    
    <add key="user" value="test@worklinks.ca" />
    <add key="pwd" value="Autotest!123" />
    <add key="userProfile" value="NGA Admin Group" />
    <!--<add key="user" value="sahus@worklinks.ca"/>
    <add key="pwd" value="Supereasy#1234"/>-->

    <add key="STKR1010url" value="https://stkr1010.worklinks.ca" />
    <add key="STKR1010user" value="test@worklinks.ca" />
    <add key="STKR1010pwd" value="Autotest!123" />
    
    <add key="STA1225url" value="https://sta1225.worklinks.ca" />
    <add key="STA1225user" value="test@worklinks.ca" />
    <add key="STA1225pwd" value="Autotest!123" />

    <add key="STA1220url" value="https://sta1220.worklinks.ca" />
    <add key="STA1220user" value="test@worklinks.ca" />
    <add key="STA1220pwd" value="Autotest!123" />

    <add key="STA1235url" value="https://sta1235.worklinks.ca" />
    <add key="STA1235user" value="test@worklinks.ca" />
    <add key="STA1235pwd" value="Autotest!123" />
    <!-- LogIn Info End-->


    <!-- DB Info-->
    
    <add key="dataSource" value="cowlqa01.island.local" />
    <add key="dbName" value="testautomationio" />

    <add key="dataSourceST" value="cowlst01.island.local" />
    <add key="dbReportNameSTA1225" value="A1225" />
    <add key="dbReportNameSTA1220" value="A1220" />
    <add key="dbReportNameSTA1235" value="A1235" />
    <add key="dbReportNameSTKR1010" value="KR1010" />
    
    <!--<add key="dbUser" value="sahus"/>
    <add key="dbPwd" value="Shaktim121%"/>-->
    <add key="dbUser" value="qatest" />
    <add key="dbPwd" value="Supereasy1%" />
    <!--<add key="dbUser" value="ISLAND\COWLDV03$"/>
    <add key="dbPwd" value="COWLDV03%"/>-->
    
    <!-- DB Info End-->

    <!-- Queries Used-->

    <add key="lastPayProcessIDQuery" value="select top 1 PP.payroll_process_id  from payroll_process PP        Inner join payroll_period PPER on (PPER.payroll_period_id = PP.payroll_period_id) where PPER.code_payroll_process_group_cd = 'ppcode' order by PP.payroll_process_id desc;" />

    <add key="lastPostedPayProcessIDQuery" value="select top 1 PP.payroll_process_id  from payroll_process PP        Inner join payroll_period PPER on (PPER.payroll_period_id = PP.payroll_period_id) where PPER.code_payroll_process_group_cd = 'ppcode' and PP.processed_date is not null order by PP.processed_date desc;" />

    <add key="reportServerDSNPathQuery" value="select R.name ReportName, DSN.name DSNName, DSN.path DSNPath,p.name directory,PP.name parent_directory from ReportServer.dbo.Catalog R inner join ReportServer.dbo.DataSource DS on (DS.ItemID = R.ItemID) left join ReportServer.dbo.Catalog P on (P.ItemID=R.ParentID) left join ReportServer.dbo.Catalog PP on (PP.ItemID=P.ParentID) left join  ReportServer.dbo.Catalog DSN on (DSN.ItemID=DS.Link) where 1=1 and R.Name like '%attri%'and R.type=2 order by DSN.name" />
    <!-- Queries Used End-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
