<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Test Settings-->
    <add key="TestName" value="SmokeTest"/>
    
    <!-- LogIn Info-->
    <add key="url_old" value="http://qaworklinks/"/>
    <!--<add key="url" value="https://testautomation.worklinks.ca" />-->
    <add key="url" value="https://wlat.worklinks.ca"/>
    <add key="browser" value="Chrome"/>
    
    <!--<add key="user" value="sahus@worklinks.ca" />-->
    <!--<add key="pwd" value="Supereasy2@" />-->

    <add key="user" value="sahus@worklinks.ca"/>
    <add key="pwd" value="Supereasy1!"/>
    
    <!-- DB Info-->
    <add key="dataSource" value="cowlqa01.island.local"/>
    <add key="dbName" value="testautomationio"/>
    <add key="dbMainName" value="WLAT"/>
    <add key="dbUser" value="ISLAND\sahus"/>
    <add key="dbPwd" value="wyPDw*2678*y"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
