<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="testautomationioCnn"
      connectionString="Data Source=COWLQA01;Initial Catalog=testautomationio;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Test Settings-->
    <add key="TestName" value="Smoke Test"/>
    <!--<add key="TestName" value="Phase-II Test"/>-->
    
    <!-- LogIn Info-->
    <!-- <add key="url_old" value="http://qaworklinks/"/> -->
    <!-- <add key="url" value="https://testautomation.worklinks.ca"/> -->
    <add key="url" value="https://wlat.worklinks.ca"/>
    <!--<add key="url" value="https://stkr1010.worklinks.ca"/>-->
    
    <add key="browser" value="Chrome"/>
    <add key="user" value="sahus@worklinks.ca"/>
    <add key="pwd" value="Supereasy@1234"/>
    <!--<add key="user" value="sahus"/>
    <add key="pwd" value="Supereasy1"/>-->
    
    
    <!-- DB Info-->
    <add key="dataSource" value="cowlqa01.island.local"/>
    <add key="dbName" value="testautomationio"/>
    <!--<add key="dbReportName" value="KR1010"/>-->
    <add key="dbReportName" value="WLAT"/>
    <add key="dbUser" value="ISLAND\sahus"/>
    <add key="dbPwd" value="Shaktim121%"/>
    
    <!-- Queries Used-->

    <add key="lastPayProcessIDQuery" value="select top 1 PP.payroll_process_id 
from payroll_process PP
       Inner join payroll_period PPER on (PPER.payroll_period_id = PP.payroll_period_id)
where PPER.code_payroll_process_group_cd = 'BIWEEK'
order by PP.payroll_process_id desc;"/>

    <add key="lastPostedPayProcessIDQuery" value="select top 1 PP.payroll_process_id 
from payroll_process PP
       Inner join payroll_period PPER on (PPER.payroll_period_id = PP.payroll_period_id)
where PPER.code_payroll_process_group_cd = 'BIWEEK' and PP.processed_date is not null
order by PP.processed_date desc;"/>
    
    <add key="reportServerDSNPathQuery" value="select R.name ReportName, DSN.name DSNName, DSN.path DSNPath,p.name directory,PP.name parent_directory from ReportServer.dbo.Catalog R inner join ReportServer.dbo.DataSource DS on (DS.ItemID = R.ItemID) left join ReportServer.dbo.Catalog P on (P.ItemID=R.ParentID) left join ReportServer.dbo.Catalog PP on (PP.ItemID=P.ParentID) left join  ReportServer.dbo.Catalog DSN on (DSN.ItemID=DS.Link) where 1=1 and R.Name like '%attri%'and R.type=2 order by DSN.name"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
